body{
    background:black;
}
#container{
    background: green;
    width:1000px;
    height:500px;
}
#mark{
    width:55px;
    height:135px;
    position:absolute;
}
#hero{
    height: 100%;
    width: 100%
}
#sewer-level-1{
    background: gray;
}